doctype html 
html(lang="en")
  head
    title="Demo Sushi framework"
    style 
    //-   include sushi.css
    link(rel='stylesheet', href='sushi.css')
  body
    include content/font.pug
    include content/button.pug
    include content/icon.pug
