BUTTON,
a.ss-button {
  --color: #{$primary-black};
  --background: #{$gradient-yellow};
  --hover-background: #{$primary-yellow};
  --hover-outline: none;
  --active-color: #{$primary-black};
  --active-background: #{$tertiary-yellow-100};
  --active-outline: solid 1px #{$primary-yellow};
  --outline: none;
  --disable-background: #{$transparent-black-10};
  --padding: 6px 12px;
}

BUTTON.-secondary,
a.ss-button.-secondary {
  --background: #{$gradient-white};
  --hover-background: #{$gradient-white};
  --hover-outline: solid 1px #{$primary-yellow};
  --active-background: #{$gradient-white};
  --active-outline: solid 1px #{$primary-white};
  --outline: solid 1px #{$transparent-black-10};
}

$button-colors: "yellow-green" $tertiary-yellow-green-100
    $tertiary-yellow-green-60 $primary-black,
  "yellow" $tertiary-yellow-100 $tertiary-yellow-60 $primary-black,
  "orange" $tertiary-orange-100 $tertiary-orange-60 $primary-black,
  "sky-blue" $tertiary-sky-blue-100 $tertiary-sky-blue-60 $primary-white,
  "purplish-blue" $tertiary-purplish-blue-100 $tertiary-purplish-blue-60
    $primary-white,
  "purplish-red" $tertiary-purplish-red-100 $tertiary-purplish-red-60
    $primary-white,
  "gray" $tertiary-gray-100 $tertiary-gray-60 $primary-white;

@each $name, $color-100, $color-60, $color in $button-colors {
  $color-gradient: linear-gradient(180deg, $color-60 0%, $color-100 88.02%);

  BUTTON.-#{$name},
  a.ss-button.-#{$name} {
    --color: #{$color};
    --background: #{$color-gradient};
    --hover-background: #{$color-100};
    --hover-outline: none;
    --active-background: #{$color-60};
    --active-outline: solid 1px #{$color-100};
    --active-color: #{$color};
    --outline: none;
  }
}

a.ss-link {
  --color: #{$tertiary-sky-blue-100};
  --active-color: #{$tertiary-sky-blue-60};
  --disable-background: none;
  --padding: 0px;
}

BUTTON,
a.ss-button,
a.ss-link {
  display: inline-flex;
  align-items: center;
  padding: var(--padding);
  gap: 4px;
  width: fit-content;
  border: none;
  outline: var(--outline);
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  cursor: pointer;
  color: var(--color);
  background: var(--background);

  > span {
    font-size: $body-icon;
  }

  &:hover {
    background: var(--hover-background);
    outline: var(--hover-outline);
  }

  &:active {
    color: var(--active-color);
    background: var(--active-background);
    outline: var(--active-outline);
  }

  &.disable,
  &:disabled {
    background: var(--disable-background);
    color: $transparent-black-35;
    pointer-events: none;
  }
}
