.ss-label {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 4px;
  flex-shrink: 1;
}
.ss-label.-inline {
  padding: 5px 0px 6px 0px;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
}
