.ss-mega-menu {
  display: none;
  position: absolute;
  background-color: $transparent-white-96;
  width: 100%;
  left: 0;
  box-shadow: $shadow-10;
  z-index: 100;
  top: 38px;
  border-top: 4px solid $primary-yellow;

  // padding-bottom: $common-gap;

  > .row {
    display: flex;
    gap: 32px;
  }

  > .column {
    display: flex;
    flex-direction: column;
  }
}

li.-dropdownMega {
  > a > span.ss-icon-Minimize-arrow {
    display: none;
  }
}

li.-dropdownMega:hover {
  > a {
    background-color: $tertiary-orange-10 !important;
    color: $primary-black !important;
  }

  > a > span.ss-icon-Maximize-arrow {
    display: none;
  }
  > a > span.ss-icon-Minimize-arrow {
    display: block;
  }

  > .ss-mega-menu {
    display: block;
  }
}
