// Woven Menu

UL.ss-menu-woven {
  > li {
    --color: #{$primary-black};
    --background: none;
    --line-top-background: rgba(0, 0, 0, 0.1);
    --line-bottom-background: rgba(0, 0, 0, 0.1);
    --hover-background: #{$tertiary-orange-10};
    --active-color: #{$primary-black};
    --active-background: #{$primary-white};
    --disable-background: #{$transparent-black-10};
  }

  > li.selected {
    --background: #{$tertiary-orange-10};
  }

  > li:first-child {
    --line-top-background: rgba(0, 0, 0, 0);
  }

  > li:last-child {
    --line-bottom-background: rgba(0, 0, 0, 0);
  }
}

UL.ss-menu-woven {
  @extend .ss-menu;

  > li {
    display: flex;
  }
}

UL.ss-menu-woven > li > a {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  align-items: center;
  text-decoration: none;
  border-radius: $radius;
  padding: 4px 8px;
  gap: 8px;
  color: var(--color);
  background: var(--background);

  > .status {
    flex-grow: 0;
    position: relative;
    width: 24px;
    height: 24px;

    > .circle {
      position: absolute;
      border-radius: 6px;
      width: 12px;
      height: 12px;
      background-color: #0064c5;
      left: calc(50% - 12px / 2);
      top: calc(50% - 12px / 2);

      &.-big {
        border-radius: 10px;
        width: 20px;
        height: 20px;
        left: calc(50% - 20px / 2);
        top: calc(50% - 20px / 2);
      }
    }
  }

  > .label {
    flex-grow: 1;
    position: static;
    width: 80px;
  }

  &:hover {
    background: var(--hover-background);
  }

  &:active {
    color: var(--active-color);
    background: var(--active-background);
  }

  &.disable {
    color: $transparent-black-35;
    pointer-events: none;
  }
}

UL.ss-menu-woven > li > .relative {
  position: relative;
  align-self: stretch;
  width: 0px;

  > .line {
    width: 0px;
    margin: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -2px;
    bottom: -2px;

    > .top {
      background-color: var(--line-top-background);
      width: 2px;
      flex-grow: 1;
    }

    > .bottom {
      background-color: var(--line-bottom-background);
      width: 2px;
      flex-grow: 1;
    }

    > .background {
      border-radius: 6px;
      width: 12px;
      height: 12px;
      background-color: #fef4e9;
      flex-grow: 0;
    }
  }
}
