.ss-navigation-bar > ul > li.selected {
  --background: #{$gradient-yellow};
}

.ss-navigation-bar > ul > li {
  --background: #{none};
}

.ss-navigation-bar {
  background-color: $primary-white;
  height: 32px;
  border-bottom: 4px solid $primary-yellow;
  display: flex;
  flex-direction: row;
  padding: 4px $common-gap 0px $common-gap;
  box-shadow: $shadow-10;
}

.ss-navigation-bar {
  > span.header {
    display: flex;
    font-weight: 800;
    gap: 8px;
    align-items: center;

    font-size: $font-size-h3;
    > span.description {
      font-size: $font-size-body;
    }
  }

  > ul {
    display: flex;
    gap: 8px;

    list-style-type: none;
    flex-grow: 1;
    margin: 0px;
    > li {
      display: flex;

      > a {
        display: flex;
        align-items: center;

        background: var(--background);
        border-radius: $radius $radius 0px 0px;

        padding: 0px 12px 0px 12px;
        text-decoration: none;
        color: $primary-black;
      }
    }
  }

  > span.account {
    display: flex;
    gap: 8px;
    align-items: center;

    font-size: $font-size-body;
    > span.account {
    }
  }
}