.ss-page {
  display: flex;
  flex-direction: column;
  gap: $common-gap;

  order: 1;
  flex-grow: 1;
  align-self: stretch;

  padding-bottom: $common-gap;
}

.ss-page > .header,
.ss-page-header {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;

  padding: 4px $common-gap 0px $common-gap;

  > span.label {
    flex-grow: 1;

    display: flex;

    font-weight: 800;
    font-size: $font-size-h3;
    line-height: 145%;
    margin: 0px;
    align-items: center;
  }

  &.-nobreadcrumbs {
    padding-top: $common-gap;
  }

  &.-withbackground {
    padding-right: $common-gap;
    padding-bottom: $common-gap;
    padding-left: $common-gap;
    background-color: $transparent-white-96;
    box-shadow: $shadow-10;
  }
}

.ss-page > .body {
  display: flex;
  flex-direction: column;
  gap: $common-gap;

  padding: 0 $common-gap;
}
