.ss-radioButton {
  --active-inner: #{$primary-white};
  --border: 1px solid #{$primary-yellow};
  --background: #{$primary-white};
  --background-checked: #{$primary-yellow};
  --fontColor: #{$primary-black};
  --cursor: pointer;
  --pointer-event: auto;

  &.-disable{
    --background-checked: #{$tertiary-orange-60};
    --fontColor: #{$transparent-black-35};
    --cursor: default;
    --pointer-event: none;
  }

  color: var(--fontColor);
  cursor: var(--cursor);
  pointer-events: var(--pointer-event);

}
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 16px;
    width: 16px;
    outline: none;
    display: inline-block;
    vertical-align: center;
    position: relative;
    margin: 0;
    border: var(--border);
    background: var(--background);
    &:after {
      content: '';
      display: block;
      position: absolute;
      transition: transform;
    }
    &:checked {
      background: var(--background-checked);
    }
    &:not(.switch) {
      &:after {
        --innerOpacity: 1;
        opacity: var(--innerOpacity);
      }
      &:checked {
        --innerOpacity: 0;
      }
    }
    & + label {
      font-size: $body-icon;
      line-height: 16px;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      cursor: var(--cursor);
    }
  }

  input[type='radio'] {
    border-radius: 100%;
    &:after {
      top: 4px;
      left: 4px;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: var(--active-inner);
      opacity: 0;
    }
  }



// Demo

// ul {
//   margin: 12px;
//   padding: 0;
//   list-style: none;
//   width: 100%;
//   max-width: 320px;
//   li {
//     margin: 16px 0;
//     position: relative;
//   }
// }

// html {
//   box-sizing: border-box;
// }

// * {
//   box-sizing: inherit;
//   &:before,
//   &:after {
//     box-sizing: inherit;
//   }
// }

// // Center & dribbble
// body {
//   min-height: 100vh;
//   font-family: 'Inter', Arial, sans-serif;
//   color: #8A91B4;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #F6F8FF;
//   @media(max-width: 800px) {
//     flex-direction: column;
//   }
// }