.card

    H1 Button

    a.ss-button(href="javascript:void(0)")
      span.icon-edit-filled
      | Primary Link
      span.icon-edit-filled
    br
    br

    a.ss-button.disable(href="javascript:void(0)")
      span.icon-edit-filled
      | Primary Link
      span.icon-edit-filled
    br
    br

    a.ss-button.secondary(href="javascript:void(0)")
      span.icon-edit-filled
      | Secondary Link
      span.icon-edit-filled
    br
    br    

    button
      span.icon-Documents
      | เมื่อเนื้อหาเป็น
      br
      | ภาษาไทย
      br
      | แถมยังยาวด้วย
      span.icon-External-link
    br
    br    

    button 
      span.icon-Search
      | Primary Button
      span.icon-Next
    br
    br

    button.secondary
      span.icon-Search
      | Secondary Button
      span.icon-Next
    br
    br    

    button 
      span.icon-Search
      | Primary Button
    br
    br

    button(disabled) Disabled Button
    br
    br

    button(disabled)
      span.icon-Search
      | Primary Button
      span.icon-Next
    br
    br    