.card

    H1 Button

    a.ss-button(href="#")
      span.icon-edit-filled
      | bank
      span.icon-edit-filled
    br
    br

    button
      span.icon-Documents
      | เมื่อเนื้อหาเป็น
      br
      | ภาษาไทย
      br
      | แถมยังยาวด้วย
      span.icon-External-link
    br
    br    

    button 
      span.icon-Search
      | Primary Button
      span.icon-Next
    br
    br

    button 
      span.icon-Search
      | Primary Button
    br
    br

    button.disable Disabled Button
    br
    br

    button.disable
      span.icon-Search
      | Primary Button
      span.icon-Next
    br
    br    