.card

  h1 Button
  ='\n'

  h3 Link &lt;a&gt;

  table
    th 
      td Primary  
      td Secondary 
      td Color 
      td Color Green
    tr 
      td Enable 
      td
        a.ss-button(href="javascript:void(0)")
          span.icon-edit-filled
          | Primary Link
          span.icon-edit-filled
      td 
        a.ss-button.secondary(href="javascript:void(0)")
          span.icon-edit-filled
          | Secondary Link
          span.icon-edit-filled
      td 
        a.ss-button.color(href="javascript:void(0)")
          span.icon-edit-filled
          | Secondary Link
          span.icon-edit-filled
      td 
        a.ss-button.color.green(href="javascript:void(0)")
          span.icon-edit-filled
          | Secondary Link
          span.icon-edit-filled      
    tr 
      td Disable
      td
        a.ss-button.disable(href="javascript:void(0)")
          span.icon-edit-filled
          | Primary Link
          span.icon-edit-filled
      td 
        a.ss-button.secondary.disable(href="javascript:void(0)")
          span.icon-edit-filled
          | Secondary Link
          span.icon-edit-filled
      td 
        a.ss-button.color.disable(href="javascript:void(0)")
          span.icon-edit-filled
          | Secondary Link
          span.icon-edit-filled
      td 
        a.ss-button.color.green.disable(href="javascript:void(0)")
          span.icon-edit-filled
          | Secondary Link
          span.icon-edit-filled            

  H3 Button &lt;button&gt;

  table
    th 
      td Primary Button 
      td Secondary Button 
      td Color
      td Color Green
    tr  
      td Enable
      td 
        button 
          span.icon-Search
          | Primary Button
          span.icon-Next
      td
        button.secondary
          span.icon-Search
          | Secondary Button
          span.icon-Next
      td
        button.color
          span.icon-Search
          | Secondary Button
          span.icon-Next        
      td
        button.color.green
          span.icon-Search
          | Secondary Button
          span.icon-Next              
    tr
      td Disable
      td
        button(disabled)
          span.icon-Search
          | Primary Button
          span.icon-Next
      td
        button.secondary(disabled)
          span.icon-Search
          | Secondary Button
          span.icon-Next
      td
        button.color(disabled)
          span.icon-Search
          | Primary Button
          span.icon-Next   
      td
        button.color.green(disabled)
          span.icon-Search
          | Primary Button
          span.icon-Next                    


  H3 TEST edge case

  | For long text

  button
    span.icon-Documents
    | เมื่อเนื้อหาเป็น
    br
    | ภาษาไทย
    br
    | แบบมีหลายบรรทัด
    span.icon-External-link      

  br    
  ='\n'

  | For one side icon
  
  button 
    span.icon-Search
    | Primary Button  

  br 
  ='\n'

  button 
    | Primary Button  
    span.icon-Search
  
