.ss-card
  .header
    span.label Structure

  .body._padding
    | โครงสร้างของ App ประกอบด้วย 3 ชั้นคือ Site, Page และ Card โดยในแต่ละชั้นจะมี Header และ Body เป็นของตัวเอง
    img(src="./assets/images/structure.png" width="100%")
