doctype html

block page-variable
  -
    /* Index, Name, Filename, Icon */
    /* we can't use Filename as index because pug variable can't use dash */
    var menuItems = {
      index: ['Home','index','ss-icon-Home'],
      icon: ['Icon','icon','ss-icon-Settings-suggest'],
      component: ['Component','','ss-icon-Main-Component-filled'],
      breadcrumb: ['Breadcrumb', 'breadcrumb', 'ss-icon-Status-circle'],
      button: ['Button & Link','button','ss-icon-Status-circle'],
      textfield: ['Textfield','textfield','ss-icon-Status-circle'],
      textarea: ['Textarea','textarea','ss-icon-Status-circle'],
      menu: ['Page Menu','menu','ss-icon-Status-circle'],
      pageheader: ['Page Header','pageheader','ss-icon-Status-circle'],
      megamenu: ['Mega menu','megamenu','ss-icon-Status-circle'],
      siteheader: ['Site Header','siteheader','ss-icon-Status-circle'],
      radiobutton: ['Radio Button','radiobutton','ss-icon-Status-circle'],
      Collections: ['Collection','','ss-icon-Table-view'],
      formfield: ['Form and Field','formfield','ss-icon-Status-circle'],
      allfield: ['All Field','allfield','ss-icon-Status-circle'],
    }

  - var current = "index"

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title
      | #{current == "index" ? "" : menuItems[current][0] + " · "}
      | Sushi v.0.1
    link(href="./assets/css/base.css", rel="stylesheet")
    link(href="./assets/css/sushi.css", rel="stylesheet")
    link(href="./assets/css/sushi-icon.css", rel="stylesheet")
    link(href="./assets/css/prism.css", rel="stylesheet")
    link(rel="icon", type="image/svg+xml", href="./assets/images/favicon.svg")
    link(rel="icon", type="image/png", href="./assets/images/favicon.png")

  body
    #root
      div(class="ss-site " + current + "-page")
        .header
          span.sitename
            span.ss-icon-Sushi
            | Sushi Design System

          //- div class="_flex-grow-t" in case of no menu
          //- ._flex-grow-1

          ul
            li
              a(href="javascript:void(0);")
                span.label Home
            li
              a(href="javascript:void(0);")
                span.label เมนูภาษาไทย
            li.selected
              a(href="javascript:void(0);")
                span.ss-icon-Check-list
                | &nbsp;
                span.label Getting Start
            li.-dropdownMega
              a(href="javascript:void(0);")
                span.label More
                | &nbsp;
                span.ss-icon-Maximize-arrow
                span.ss-icon-Minimize-arrow

              .ss-mega-menu
                .row
                  ul.ss-menu
                    li
                      .header ประวัติ
                    li
                      a(href="#") Menu ที่หนึ่ง
                    li
                      a(href="#") Menu ที่สอง
                    li
                      a(href="#") หลังเมนูที่สอง
                  ul.ss-menu
                    li
                      .header Master
                    li
                      a(href="#") ก่อนเมนูที่สอง
                    li
                      a(href="#") สงสัยจะต้องมีสาม
                    li
                      a(href="#") ครั้งนี้ขอมีสี่
                    li
                      a(href="#") สี่ขอสั้น
                  ul.ss-menu
                    li
                      .header &nbsp;
                    li
                      a(href="#") ลองแบบไม่มีหัว
                    li
                      a(href="#") สงสัยจะต้องมีสาม
                    li
                      a(href="#") ครั้งนี้ขอมีสี่
                    li
                      a(href="#") สี่ขอสั้น
                  ul.ss-menu
                    li
                      .header Center
                    li
                      a(href="#") ลองหาเมนูสุขใจ
                    li
                      a(href="#") แบบสั้นแค่สองบ้าง

          span.account
            button.ss-button.-secondary(onclick="changeBackground()")
              span.ss-icon-Picture
              | Background
        .body
          include ../base/main-menu.pug
          .ss-page
            block page-block

        script(src="./assets/js/prism.js")
        script(src="./assets/js/sushi.js")
