doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Demo Sushi framework
    link(href="./assets/css/sushi.css", rel="stylesheet")
    link(href="./assets/css/prism.css" rel="stylesheet")
  body
    .header
      h3 Implement HTML & CSS for SUSHI Design System

    block content

    script(src="./assets/js/prism.js")
