doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Demo Sushi framework
    link(href="./assets/css/sushi.css", rel="stylesheet")
    link(href="./assets/css/prism.css", rel="stylesheet")
    link(rel="icon", type="image/svg+xml", href="./assets/images/favicon.svg")
    link(rel="icon", type="image/png", href="./assets/images/favicon.png")
  body

    block page-variable
      - var current = "home"

    .header
      h3 Sushi Design System

    .container
      include ../base/main-menu.pug
      .content
        block content

    script(src="./assets/js/prism.js")
