doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Demo Sushi framework
    link(href="./assets/css/sushi.css", rel="stylesheet")
  body
    .card
      H1 Sushi HTML & CSS Design System Component
      ul 
        li 
          a(href="index.html") home
        li 
          a(href="button.html") button

    block content
    //- script(src="./assets/js/sushi.js")
