.menu 
  - 
    var items = { 
      index: ['Home','icon-Home'], 
      component: ['Component','icon-Main-Component-filled'], 
      menu: ['Menu','icon-Status-circle'], 
      button: ['Button','icon-Status-circle']   
    }

  ul.ss-menu
    each val, key in items
      - var url = key
      if(current == key)
        li.selected 
          a(href= key + '.html')
            span(class=val[1])
            span.label #{val[0]}
            .selected-box &nbsp;
      else 
        li 
          a(href= key + '.html')
            span(class=val[1])
            span.label #{val[0]}