.card

    H1 Button

    a.ss-button(href="#")
      span.icon-edit-filled
      | bank
      span.icon-edit-filled
    br

    button.ss-button 
      span.icon-edit-filled
      | Button
      span.icon-edit-filled
    br
    
    button.ss-button.disabled Disabled Button