.ss-ghost {
  width: 0px;
  height: 0px;
  background-color: none;
}

:root {
  --primary-yellow: #fcb034;
}

#root {
  min-height: 100vh;
}

BODY {
  min-height: 100%;
  margin: 0px;
}

TABLE {
  border: 1px solid #eee;
}

TABLE TH {
  text-align: left;
}

TABLE TH,
TABLE TD {
  padding: 20px;
}

.menu-panel {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.96);
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 200px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.icon-page .show-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 800px;
  margin-top: 16px;
}

.icon-page .show-icons > .each-icon {
  width: 200px;
  height: 72px;
  text-align: center;
}

.icon-page .show-icons > .each-icon span {
  font-size: 1.142em;
}

.icon-page .sample-icon-in-css:after {
  display: inline;
  content: "\ea1b";
  font-family: "SET-icon";
  padding-left: 10px !important;
  vertical-align: middle;
}

.menu-page .ss-card .menu {
  width: 240px;
}

.button-page .two-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.ss-mega-menu._demo-under-card {
  position: relative;
}