@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,500;0,800;1,500&display=swap");
@font-face {
  font-family: "SET";
  src: url("../fonts/SET.ttf?355p9m") format("truetype"), url("../fonts/SET.woff?355p9m") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "SET" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Access-alarm:before {
  content: "\ea01";
}

.icon-Account-circle:before {
  content: "\ea02";
}

.icon-Add:before {
  content: "\ea03";
}

.icon-Alert:before {
  content: "\ea04";
}

.icon-Approve:before {
  content: "\ea05";
}

.icon-Approves-filled:before {
  content: "\ea06";
}

.icon-Approves:before {
  content: "\ea07";
}

.icon-Assign:before {
  content: "\ea08";
}

.icon-Attach-Money:before {
  content: "\ea09";
}

.icon-Attachment:before {
  content: "\ea0a";
}

.icon-Auditor:before {
  content: "\ea0b";
}

.icon-Back-Android:before {
  content: "\ea0c";
}

.icon-Back-iOS:before {
  content: "\ea0d";
}

.icon-Back:before {
  content: "\ea0e";
}

.icon-Bookmark:before {
  content: "\ea0f";
}

.icon-Bookmarks-filled:before {
  content: "\ea10";
}

.icon-Business:before {
  content: "\ea11";
}

.icon-Calendar:before {
  content: "\ea12";
}

.icon-Callcenter:before {
  content: "\ea13";
}

.icon-Category:before {
  content: "\ea14";
}

.icon-Check-list:before {
  content: "\ea15";
}

.icon-Checkbox-selected:before {
  content: "\ea16";
}

.icon-Checkbox:before {
  content: "\ea17";
}

.icon-Checked:before {
  content: "\ea18";
}

.icon-Circle-filled:before {
  content: "\ea19";
}

.icon-Classroom:before {
  content: "\ea1a";
}

.icon-Close-or-Reject:before {
  content: "\ea1b";
}

.icon-Company:before {
  content: "\ea1c";
}

.icon-Content-copy:before {
  content: "\ea1d";
}

.icon-DOC:before {
  content: "\ea1e";
}

.icon-Dash:before {
  content: "\ea1f";
}

.icon-Date:before {
  content: "\ea20";
}

.icon-Decrease:before {
  content: "\ea21";
}

.icon-Delete:before {
  content: "\ea22";
}

.icon-Document-1:before {
  content: "\ea23";
}

.icon-Document:before {
  content: "\ea24";
}

.icon-Documents:before {
  content: "\ea25";
}

.icon-Down:before {
  content: "\ea26";
}

.icon-Download:before {
  content: "\ea27";
}

.icon-ESG:before {
  content: "\ea28";
}

.icon-Edit-filled:before {
  content: "\ea29";
}

.icon-Edit:before {
  content: "\ea2a";
}

.icon-Email:before {
  content: "\ea2b";
}

.icon-Euro:before {
  content: "\ea2c";
}

.icon-Exit:before {
  content: "\ea2d";
}

.icon-External-link:before {
  content: "\ea2e";
}

.icon-Eye-close:before {
  content: "\ea2f";
}

.icon-Eye:before {
  content: "\ea30";
}

.icon-Fax:before {
  content: "\ea31";
}

.icon-File-upload:before {
  content: "\ea32";
}

.icon-Fill-color:before {
  content: "\ea33";
}

.icon-Filter:before {
  content: "\ea34";
}

.icon-Fire:before {
  content: "\ea35";
}

.icon-Folder-open:before {
  content: "\ea36";
}

.icon-Github:before {
  content: "\ea37";
}

.icon-Help:before {
  content: "\ea38";
}

.icon-Home-filled:before {
  content: "\ea39";
}

.icon-Home:before {
  content: "\ea3a";
}

.icon-Increase:before {
  content: "\ea3b";
}

.icon-Information:before {
  content: "\ea3c";
}

.icon-Language:before {
  content: "\ea3d";
}

.icon-Link:before {
  content: "\ea3e";
}

.icon-Location:before {
  content: "\ea3f";
}

.icon-Lock:before {
  content: "\ea40";
}

.icon-Logout:before {
  content: "\ea41";
}

.icon-Main-Component-filled:before {
  content: "\ea42";
}

.icon-Market:before {
  content: "\ea43";
}

.icon-Maximize-arrow:before {
  content: "\ea44";
}

.icon-Maximize-filled:before {
  content: "\ea45";
}

.icon-Minimize-arrow:before {
  content: "\ea46";
}

.icon-Minimize-filled:before {
  content: "\ea47";
}

.icon-Mobile-phone:before {
  content: "\ea48";
}

.icon-More-Android:before {
  content: "\ea49";
}

.icon-More-iOS:before {
  content: "\ea4a";
}

.icon-More-Hamburger:before {
  content: "\ea4b";
}

.icon-Mouse-cursor-filled:before {
  content: "\ea4c";
}

.icon-Move:before {
  content: "\ea4d";
}

.icon-News-filled:before {
  content: "\ea4e";
}

.icon-News:before {
  content: "\ea4f";
}

.icon-Next-big:before {
  content: "\ea50";
}

.icon-Next:before {
  content: "\ea51";
}

.icon-Notification-filled:before {
  content: "\ea52";
}

.icon-Notification:before {
  content: "\ea53";
}

.icon-One-Report:before {
  content: "\ea54";
}

.icon-PDF:before {
  content: "\ea55";
}

.icon-Page-filled:before {
  content: "\ea56";
}

.icon-Phone-call-filled:before {
  content: "\ea57";
}

.icon-Phone:before {
  content: "\ea58";
}

.icon-Picture:before {
  content: "\ea59";
}

.icon-Printer:before {
  content: "\ea5a";
}

.icon-Profile-filled:before {
  content: "\ea5b";
}

.icon-Profile:before {
  content: "\ea5c";
}

.icon-Push-pin:before {
  content: "\ea5d";
}

.icon-Radio-button-selected:before {
  content: "\ea5e";
}

.icon-Radio-button:before {
  content: "\ea5f";
}

.icon-Reader:before {
  content: "\ea60";
}

.icon-Refresh:before {
  content: "\ea61";
}

.icon-Search:before {
  content: "\ea62";
}

.icon-Set-link:before {
  content: "\ea63";
}

.icon-Set:before {
  content: "\ea64";
}

.icon-Setting:before {
  content: "\ea65";
}

.icon-Settings-suggest:before {
  content: "\ea66";
}

.icon-Sorting:before {
  content: "\ea67";
}

.icon-Star-Filled:before {
  content: "\ea68";
}

.icon-Star:before {
  content: "\ea69";
}

.icon-Status-circle:before {
  content: "\ea6a";
}

.icon-Suitcase:before {
  content: "\ea6b";
}

.icon-Supervisor:before {
  content: "\ea6c";
}

.icon-Sushi:before {
  content: "\ea6d";
}

.icon-TXT:before {
  content: "\ea6e";
}

.icon-Table-view:before {
  content: "\ea6f";
}

.icon-Table:before {
  content: "\ea70";
}

.icon-Terrain:before {
  content: "\ea71";
}

.icon-Thumb-up-filled:before {
  content: "\ea72";
}

.icon-Thumbnail:before {
  content: "\ea73";
}

.icon-Time:before {
  content: "\ea74";
}

.icon-Unchange:before {
  content: "\ea75";
}

.icon-Underline:before {
  content: "\ea76";
}

.icon-Up:before {
  content: "\ea77";
}

.icon-Video:before {
  content: "\ea78";
}

.icon-Vpn-key:before {
  content: "\ea79";
}

.icon-Waiting:before {
  content: "\ea7a";
}

.icon-Warning:before {
  content: "\ea7b";
}

.icon-Web:before {
  content: "\ea7c";
}

.icon-XML:before {
  content: "\ea7d";
}

.icon-Zoom-in:before {
  content: "\ea7e";
}

.icon-Zoom-out:before {
  content: "\ea7f";
}

.icon-cancel-filled:before {
  content: "\ea80";
}

:root {
  --primary-yellow: #FCB034;
}

HTML {
  font-family: "Sarabun", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  color: #231F20;
  height: 100%;
}

BODY, INPUT, TEXTAREA, BUTTON {
  font-family: inherit;
  font-size: 1em;
}

H3 {
  font-weight: 800;
  font-size: 1.5em;
  line-height: 145%;
}

BODY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px;
  min-height: 100%;
  background-color: #FFFFFF;
}

TABLE {
  border: 1px solid #EEE;
}

TABLE TH, TABLE TD {
  padding: 20px;
}

.small {
  font-size: 0.429em;
}

.card {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px;
  margin: 28px;
  background-color: #FFFFFF;
}

.header {
  background-color: #FFFFFF;
  height: 44px;
  border-bottom: 4px solid #FCB034;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 0px 0px 32px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #F3F3F3;
}

.menu {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 200px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.content {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

BUTTON, a.ss-button {
  --color: #231F20;
  --background: linear-gradient(180deg, #FFCF36 0%, #FCB034 88.02%);
  --hover-background: #FCB034;
  --hover-outline: none;
  --active-color: #231F20;
  --active-background: #FFD200;
  --active-outline: solid 1px #FCB034;
  --outline: none;
  --disable-background: rgba(0, 0, 0, 0.1);
}

BUTTON.secondary, a.ss-button.secondary {
  --background: linear-gradient(180deg, #FFFFFF 0%, #EFEFEF 88.02%);
  --hover-background: linear-gradient(180deg, #FFFFFF 0%, #EFEFEF 88.02%);
  --hover-outline: solid 1px #FCB034;
  --active-background: linear-gradient(180deg, #FFFFFF 0%, #EFEFEF 88.02%);
  --active-outline: solid 1px #FFFFFF;
  --outline: solid 1px rgba(0, 0, 0, 0.1);
}

BUTTON.color, a.ss-button.color {
  --color: #FFFFFF;
  --background: linear-gradient(180deg, #9DA6AD 0%, #78797B 88.02%);
  --hover-background: #78797B;
  --hover-outline: none;
  --active-background: #9DA6AD;
  --active-outline: solid 1px #78797B;
  --active-color: #FFFFFF;
  --outline: none;
}

BUTTON.color.green, a.ss-button.color.green {
  --color: #231F20;
  --background: linear-gradient(180deg, #DAE882 0%, #C1D82F 88.02%);
  --hover-background: #C1D82F;
  --active-background: #DAE882;
  --active-outline: solid 1px #C1D82F;
  --active-color: #231F20;
}

a.ss-link {
  --color: #009FD4;
  --active-color: #66C5DA;
  --disable-background: none;
}

BUTTON, a.ss-button, a.ss-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: var(--outline);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--color);
  background: var(--background);
}

BUTTON span, a.ss-button span, a.ss-link span {
  font-size: 1.142em;
}

BUTTON:hover, a.ss-button:hover, a.ss-link:hover {
  background: var(--hover-background);
  outline: var(--hover-outline);
}

BUTTON:active, a.ss-button:active, a.ss-link:active {
  color: var(--active-color);
  background: var(--active-background);
  outline: var(--active-outline);
}

BUTTON.disable, BUTTON:DISABLED, a.ss-button.disable, a.ss-button:DISABLED, a.ss-link.disable, a.ss-link:DISABLED {
  background: var(--disable-background);
  color: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

.card .menu {
  width: 240px;
}

UL.ss-menu li {
  --color: #231F20;
  --background: none;
  --hover-background: #FEF4E9;
  --active-color: #231F20;
  --active-background: #FFFFFF;
  --disable-background: rgba(0, 0, 0, 0.1);
}

UL.ss-menu li.selected {
  --color: #231F20;
  --background: #FEF4E9;
  --hover-background: #FEF4E9;
  --active-color: #231F20;
  --active-background: #FFFFFF;
  --disable-background: rgba(0, 0, 0, 0.1);
}

UL.ss-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
  margin: 0px;
  padding: 16px;
  gap: 8px;
}

UL.ss-menu li {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

UL.ss-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 6px;
  margin: 0 -4px;
  gap: 4px;
  position: relative;
  border: none;
  outline: var(--outline);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--color);
  background: var(--background);
}

UL.ss-menu li a span {
  font-size: 1.142em;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

UL.ss-menu li a span.label {
  font-size: 1em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

UL.ss-menu li a .selected-box {
  background-color: #FCB034;
  width: 4px;
  border-radius: 4px;
}

UL.ss-menu li a:hover {
  background: var(--hover-background);
}

UL.ss-menu li a:active {
  color: var(--active-color);
  background: var(--active-background);
}

UL.ss-menu li a.disable {
  color: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

UL.ss-menu-woven li {
  --color: #231F20;
  --background: none;
  --line-top-background: rgba(0, 0, 0, 0.1);
  --line-bottom-background: rgba(0, 0, 0, 0.1);
  --hover-background: #FEF4E9;
  --active-color: #231F20;
  --active-background: #FFFFFF;
  --disable-background: rgba(0, 0, 0, 0.1);
}

UL.ss-menu-woven li.selected {
  --background: #FEF4E9;
}

UL.ss-menu-woven li.first {
  --line-top-background: rgba(0, 0, 0, 0.0);
}

UL.ss-menu-woven li.last {
  --line-bottom-background: rgba(0, 0, 0, 0.0);
}

UL.ss-menu-woven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
  margin: 0px;
  padding: 16px;
  gap: 4px;
}

UL.ss-menu-woven li {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

UL.ss-menu-woven li a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  padding: 4px 6px;
  gap: 4px;
  color: var(--color);
  background: var(--background);
}

UL.ss-menu-woven li a .status {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: relative;
  width: 24px;
  height: 24px;
}

UL.ss-menu-woven li a .big-circle {
  position: absolute;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #0064C5;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

UL.ss-menu-woven li a .circle {
  position: absolute;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background-color: #0064C5;
  left: calc(50% - 6px);
  top: calc(50% - 6px);
}

UL.ss-menu-woven li a .label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: static;
  width: 80px;
}

UL.ss-menu-woven li a .selected-box {
  background-color: #FCB034;
  width: 4px;
  border-radius: 4px;
}

UL.ss-menu-woven li a:hover {
  background: var(--hover-background);
}

UL.ss-menu-woven li a:active {
  color: var(--active-color);
  background: var(--active-background);
}

UL.ss-menu-woven li a.disable {
  color: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

UL.ss-menu-woven .relative-box {
  position: relative;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 0px;
}

UL.ss-menu-woven .relative-box .line {
  width: 0px;
  margin: 0px 0px 0px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -2px;
  bottom: -2px;
}

UL.ss-menu-woven .relative-box .line .line-top {
  background-color: var(--line-top-background);
  width: 2px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

UL.ss-menu-woven .relative-box .line .line-bottom {
  background-color: var(--line-bottom-background);
  width: 2px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

UL.ss-menu-woven .relative-box .line .line-background {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background-color: #FEF4E9;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.card .show-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 800px;
  margin-top: 16px;
}

.card .show-icons .each-icon {
  width: 200px;
  height: 72px;
  text-align: center;
}

.card .show-icons .each-icon span {
  font-size: 1.142em;
}

.card .icon-in-css:after {
  content: "\ea1b";
  font-family: "SET";
  padding-left: 10px !important;
  vertical-align: middle;
}