@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,800;1,400;1,800&display=swap");
.ss-ghost {
  width: 0px;
  height: 0px;
  background-color: none;
}

:root {
  --primary-yellow: #fcb034;
}

HTML {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: #231f20;
  height: 100%;
}

BODY,
INPUT,
TEXTAREA,
BUTTON {
  font-family: inherit;
  font-size: 1rem;
}

#root {
  min-height: 100vh;
}

BODY {
  min-height: 100%;
  margin: 0px;
}

TABLE {
  border: 1px solid #eee;
}

TABLE TH {
  text-align: left;
}

TABLE TH,
TABLE TD {
  padding: 20px;
}

.small {
  font-size: 0.429rem;
}

a.-big-icon {
  font-size: 2rem;
  text-decoration: none;
  color: #231f20;
}

._background-blue {
  background-color: #0064c5 !important;
}

._background-red {
  background-color: #b60000 !important;
}

._background-green {
  background-color: #006600 !important;
}

._background-orange {
  background-color: #e55f14 !important;
}

._padding {
  padding: 16px !important;
}

._flex-grow-1 {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

._font-size-header {
  font-size: 1.5rem !important;
}

.ss-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  width: 100%;
}

BUTTON.ss-button,
a.ss-button {
  --color: #231f20;
  --active-color: #231f20;
  --disable-background: rgba(0, 0, 0, 0.1);
  --padding: 6px 12px;
  --background: linear-gradient(180deg, #f2f2f3 0%, #e5e5e6 88.02%);
  --hover-background: linear-gradient(180deg, #f2f2f3 0%, #e5e5e6 88.02%);
  --hover-box-shadow: 0 0 0 1px #fcb034;
  --active-background: linear-gradient(180deg, #f2f2f3 0%, #e5e5e6 88.02%);
  --active-box-shadow: 0 0 0 1px #ffffff;
  --box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

BUTTON.ss-button.-primary,
a.ss-button.-primary {
  --background: linear-gradient(180deg, #ffcf36 0%, #fcb034 88.02%);
  --hover-background: #fcb034;
  --hover-box-shadow: none;
  --active-background: #ffd000;
  --active-box-shadow: 0 0 0 1px #fcb034;
  --box-shadow: none;
}

BUTTON.ss-button.-yellow-green,
a.ss-button.-yellow-green {
  --color: #231f20;
  --background: linear-gradient(180deg, #d9e77e 0%, #bfd629 88.02%);
  --hover-background: #bfd629;
  --hover-box-shadow: none;
  --active-background: #d9e77e;
  --active-box-shadow: 0 0 0 1px #bfd629;
  --active-color: #231f20;
  --box-shadow: none;
}

BUTTON.ss-button.-yellow,
a.ss-button.-yellow {
  --color: #231f20;
  --background: linear-gradient(180deg, #ffe366 0%, #ffd000 88.02%);
  --hover-background: #ffd000;
  --hover-box-shadow: none;
  --active-background: #ffe366;
  --active-box-shadow: 0 0 0 1px #ffd000;
  --active-color: #231f20;
  --box-shadow: none;
}

BUTTON.ss-button.-orange,
a.ss-button.-orange {
  --color: #231f20;
  --background: linear-gradient(180deg, #fab76b 0%, #f68709 88.02%);
  --hover-background: #f68709;
  --hover-box-shadow: none;
  --active-background: #fab76b;
  --active-box-shadow: 0 0 0 1px #f68709;
  --active-color: #231f20;
  --box-shadow: none;
}

BUTTON.ss-button.-sky-blue,
a.ss-button.-sky-blue {
  --color: #ffffff;
  --background: linear-gradient(180deg, #57c3db 0%, #00a7cc 88.02%);
  --hover-background: #00a7cc;
  --hover-box-shadow: none;
  --active-background: #57c3db;
  --active-box-shadow: 0 0 0 1px #00a7cc;
  --active-color: #ffffff;
  --box-shadow: none;
}

BUTTON.ss-button.-purplish-blue,
a.ss-button.-purplish-blue {
  --color: #ffffff;
  --background: linear-gradient(180deg, #827cb6 0%, #342b88 88.02%);
  --hover-background: #342b88;
  --hover-box-shadow: none;
  --active-background: #827cb6;
  --active-box-shadow: 0 0 0 1px #342b88;
  --active-color: #ffffff;
  --box-shadow: none;
}

BUTTON.ss-button.-purplish-red,
a.ss-button.-purplish-red {
  --color: #ffffff;
  --background: linear-gradient(180deg, #d9598a 0%, #c60650 88.02%);
  --hover-background: #c60650;
  --hover-box-shadow: none;
  --active-background: #d9598a;
  --active-box-shadow: 0 0 0 1px #c60650;
  --active-color: #ffffff;
  --box-shadow: none;
}

BUTTON.ss-button.-gray,
a.ss-button.-gray {
  --color: #ffffff;
  --background: linear-gradient(180deg, #97989b 0%, #646568 88.02%);
  --hover-background: #646568;
  --hover-box-shadow: none;
  --active-background: #97989b;
  --active-box-shadow: 0 0 0 1px #646568;
  --active-color: #ffffff;
  --box-shadow: none;
}

a.ss-link,
BUTTON.ss-link {
  --color: #00a7cc;
  --active-color: #57c3db;
  --disable-background: none;
  --padding: 0px;
}

BUTTON.ss-link {
  --background: none;
  --hover-background: none;
  --hover-box-shadow: none;
  --active-background: none;
  --active-box-shadow: none;
  --box-shadow: none;
}

BUTTON.ss-button,
a.ss-button,
a.ss-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--padding);
  gap: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  cursor: pointer;
  color: var(--color);
  background: var(--background);
  /* Accessibility: Visible in Windows high-contrast theems */
  outline-color: transparent;
  outline-width: 1px;
}

BUTTON.ss-button > span,
a.ss-button > span,
a.ss-link > span {
  font-size: 1.142em;
}

BUTTON.ss-button:hover,
a.ss-button:hover,
a.ss-link:hover {
  background: var(--hover-background);
  -webkit-box-shadow: var(--hover-box-shadow);
  box-shadow: var(--hover-box-shadow);
}

BUTTON.ss-button:active,
a.ss-button:active,
a.ss-link:active {
  color: var(--active-color);
  background: var(--active-background);
  -webkit-box-shadow: var(--active-outline);
  box-shadow: var(--active-outline);
}

BUTTON.ss-button.disable, BUTTON.ss-button:disabled,
a.ss-button.disable,
a.ss-button:disabled,
a.ss-link.disable,
a.ss-link:disabled {
  background: var(--disable-background);
  color: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

.ss-card {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.ss-card > .ss-page-header {
  padding: 16px 16px 0px 16px;
  margin: 0px;
  background-color: #ffffff;
}

.ss-card > .header {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px;
  padding: 4px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.ss-card > .header > span.label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
}

.ss-card > .header, .ss-card .body > .header, .ss-card.-body > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  margin: 0px;
}

.ss-card > .header > span.label, .ss-card .body > .header > span.label, .ss-card.-body > .header > span.label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: bold;
}

.ss-card > p, .ss-card .body > p {
  margin: 0px;
}

.ss-card.-body, .ss-card > .body {
  background-color: #ffffff;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}

UL.ss-menu-woven > li {
  --color: #231f20;
  --background: none;
  --line-top-background: rgba(0, 0, 0, 0.1);
  --line-bottom-background: rgba(0, 0, 0, 0.1);
  --hover-background: #fef3e6;
  --active-color: #231f20;
  --active-background: #ffffff;
  --disable-background: rgba(0, 0, 0, 0.1);
}

UL.ss-menu-woven > li.selected {
  --background: #fef3e6;
}

UL.ss-menu-woven > li:first-child {
  --line-top-background: rgba(0, 0, 0, 0.0);
}

UL.ss-menu-woven > li:last-child {
  --line-bottom-background: rgba(0, 0, 0, 0.0);
}

UL.ss-menu-woven > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

UL.ss-menu-woven > li > a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  padding: 4px 8px;
  gap: 8px;
  color: var(--color);
  background: var(--background);
}

UL.ss-menu-woven > li > a > .status {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: relative;
  width: 24px;
  height: 24px;
}

UL.ss-menu-woven > li > a > .status > .circle {
  position: absolute;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background-color: #0064C5;
  left: calc(50% - 6px);
  top: calc(50% - 6px);
}

UL.ss-menu-woven > li > a > .status > .circle.-big {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

UL.ss-menu-woven > li > a > .label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: static;
  width: 80px;
}

UL.ss-menu-woven > li > a:hover {
  background: var(--hover-background);
}

UL.ss-menu-woven > li > a:active {
  color: var(--active-color);
  background: var(--active-background);
}

UL.ss-menu-woven > li > a.disable {
  color: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

UL.ss-menu-woven > li > .relative {
  position: relative;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 0px;
}

UL.ss-menu-woven > li > .relative > .line {
  width: 0px;
  margin: 0px 0px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -2px;
  bottom: -2px;
}

UL.ss-menu-woven > li > .relative > .line > .top {
  background-color: var(--line-top-background);
  width: 2px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

UL.ss-menu-woven > li > .relative > .line > .bottom {
  background-color: var(--line-bottom-background);
  width: 2px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

UL.ss-menu-woven > li > .relative > .line > .background {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background-color: #FEF4E9;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

UL.ss-menu > li, UL.ss-menu-woven > li {
  --color: #231f20;
  --background: none;
  --hover-background: #fef3e6;
  --active-color: #231f20;
  --active-background: #ffffff;
  --disable-background: rgba(0, 0, 0, 0.1);
}

UL.ss-menu > li.selected, UL.ss-menu-woven > li.selected {
  --color: #231f20;
  --background: #fef3e6;
  --hover-background: #fef3e6;
  --active-color: #231f20;
  --active-background: #ffffff;
  --disable-background: rgba(0, 0, 0, 0.1);
}

UL.ss-menu, UL.ss-menu-woven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
  margin: 0px;
  padding: 8px;
  gap: 4px;
}

UL.ss-menu > li.selected, UL.ss-menu-woven > li.selected {
  --background: #fef3e6;
  position: relative;
}

UL.ss-menu > li.selected::after, UL.ss-menu-woven > li.selected::after {
  content: " ";
  position: absolute;
  background-color: #fcb034;
  width: 4px;
  border-radius: 2px;
  height: 1.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

UL.ss-menu > li > .header, UL.ss-menu-woven > li > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
}

UL.ss-menu > li > .header > span.label, UL.ss-menu-woven > li > .header > span.label {
  font-size: 1em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

UL.ss-menu > li > b, UL.ss-menu-woven > li > b,
UL.ss-menu > li > a,
UL.ss-menu-woven > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--color);
  background: var(--background);
}

UL.ss-menu > li > b > span, UL.ss-menu-woven > li > b > span,
UL.ss-menu > li > a > span,
UL.ss-menu-woven > li > a > span {
  font-size: 1.142em;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

UL.ss-menu > li > b > span.label, UL.ss-menu-woven > li > b > span.label,
UL.ss-menu > li > a > span.label,
UL.ss-menu-woven > li > a > span.label {
  font-size: 1em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

UL.ss-menu > li > a:hover, UL.ss-menu-woven > li > a:hover {
  background: var(--hover-background);
}

UL.ss-menu > li > a:active, UL.ss-menu-woven > li > a:active {
  color: var(--active-color);
  background: var(--active-background);
}

UL.ss-menu > li > a.disable, UL.ss-menu-woven > li > a.disable {
  color: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

.ss-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
  background-color: #ffffff;
}

.ss-site > .header,
.ss-site-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  background-color: #ffffff;
  min-height: 38px;
  border-bottom: 4px solid #fcb034;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 16px 0px 16px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.ss-site > .header > ul > li.selected,
.ss-site-header > ul > li.selected {
  --background: linear-gradient(180deg, #ffcf36 0%, #fcb034 88.02%);
  --hover-background: #fcb034;
  --hover-color: #231f20;
}

.ss-site > .header > ul > li,
.ss-site-header > ul > li {
  --background: none;
  --hover-background: none;
  --hover-color: #009fd4;
}

.ss-site > .header > span.sitename,
.ss-site-header > span.sitename {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5rem;
}

.ss-site > .header > span.sitename > span.description,
.ss-site-header > span.sitename > span.description {
  font-size: 1rem;
}

.ss-site > .header > ul,
.ss-site-header > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding-top: 4px;
  list-style-type: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0px;
}

.ss-site > .header > ul > li,
.ss-site-header > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ss-site > .header > ul > li > a,
.ss-site-header > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--background);
  border-radius: 4px 4px 0px 0px;
  padding: 0px 12px 4px 12px;
  text-decoration: none;
  color: #231f20;
}

.ss-site > .header > ul > li > a:hover,
.ss-site-header > ul > li > a:hover {
  color: var(--hover-color);
  background: var(--hover-background);
}

.ss-site > .header > span.account,
.ss-site-header > span.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
}

.ss-site > .header > span.account > a.language,
.ss-site-header > span.account > a.language {
  display: block;
  width: 16px;
  height: 16px;
  text-decoration: none;
  background: url(../images/Thailand.svg);
  background-size: 16px 16px;
}

.ss-site > .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #f2f2f2;
}

.ss-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  padding-bottom: 16px;
}

.ss-page > .header,
.ss-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 16px 0px 16px;
}

.ss-page > .header > span.label,
.ss-page-header > span.label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 145%;
  margin: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ss-page > .header.-nobreadcrumbs,
.ss-page-header.-nobreadcrumbs {
  padding-top: 16px;
}

.ss-page > .header.-withbackground,
.ss-page-header.-withbackground {
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.ss-page > .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.ss-textfield {
  --backgroundColor: #ffffff;
  --color: #231f20;
  --pointer: "text";
  --paddingBottom: 6px;
  --borderBottom: none;
  --box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --pointerEvent: auto;
  --border-radius: 4px;
  --margin-bottom: 20px;
}

.ss-textfield.-error {
  --margin-bottom: 0px;
  --color: #b60000;
  --paddingBottom: 4px;
  --borderBottom: solid 2px #b60000;
}

.ss-textfield.-disable, .ss-textfield:disabled {
  --backgroundColor: rgba(0, 0, 0, 0.1);
  --color: rgba(0, 0, 0, 0.35);
  --pointerEvent: none;
}

.ss-textfield.-viewonly {
  --backgroundColor: #ffffff;
  --borderBottom: solid 1px rgba(0, 0, 0, 0.1);
  --paddingBottom: 5px;
  --box-shadow: none;
  --pointerEvent: none;
  --border-radius: 0px;
}

.ss-textfield:focus {
  --paddingBottom: 4px;
  --borderBottom: solid 2px #fcb034;
}

input.ss-textfield {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 0px 6px 12px;
  outline: none;
  margin-bottom: var(--margin-bottom);
  padding-bottom: var(--paddingBottom);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  min-width: 0px;
  border: none;
  text-decoration: none;
  border-radius: var(--border-radius);
  cursor: var(--pointer);
  color: var(--color);
  background: var(--backgroundColor);
  border-bottom: var(--borderBottom);
  pointer-events: var(--pointerEvent);
}

input.ss-textfield::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  font-family: "SET";
  background: url("../../assets/icons/Close-or-Reject.svg");
  cursor: pointer;
  background-size: 16px 16px;
}

.ss-textarea {
  --backgroundColor: #ffffff;
  --color: #231f20;
  --pointer: "text";
  --paddingBottom: 6px;
  --borderBottom: none;
  --box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --pointerEvent: auto;
  --border-radius: 4px;
  --margin-bottom: 20px;
}

.ss-textarea.-error {
  --margin-bottom: 0px;
  --color: #b60000;
  --paddingBottom: 4px;
  --borderBottom: solid 2px #b60000;
}

.ss-textarea.-disable, .ss-textarea:disabled {
  --backgroundColor: rgba(0, 0, 0, 0.1);
  --color: rgba(0, 0, 0, 0.35);
  --pointerEvent: none;
}

.ss-textarea.-viewonly {
  --backgroundColor: #ffffff;
  --borderBottom: solid 1px rgba(0, 0, 0, 0.1);
  --paddingBottom: 5px;
  --box-shadow: none;
  --pointerEvent: none;
  --border-radius: 0px;
}

.ss-textarea:focus {
  --paddingBottom: 4px;
  --borderBottom: solid 2px #fcb034;
}

textarea.ss-textarea {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 0px 6px 12px;
  outline: none;
  margin-bottom: var(--margin-bottom);
  padding-bottom: var(--paddingBottom);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  resize: vertical;
  min-width: 0px;
  border: none;
  text-decoration: none;
  border-radius: var(--border-radius);
  cursor: var(--pointer);
  color: var(--color);
  background: var(--backgroundColor);
  border-bottom: var(--borderBottom);
  pointer-events: var(--pointerEvent);
}

.ss-mega-menu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.96);
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  top: 38px;
  border-top: 4px solid #fcb034;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.ss-mega-menu > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.ss-mega-menu > .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ss-mega-menu > .row > ul.ss-menu > li > .header {
  font-weight: bold;
}

li.-dropdownMega > a > span.ss-icon-Minimize-arrow {
  display: none;
}

li.-dropdownMega:hover > a {
  background-color: #fef3e6 !important;
  color: #231f20 !important;
}

li.-dropdownMega:hover > a > span.ss-icon-Maximize-arrow {
  display: none;
}

li.-dropdownMega:hover > a > span.ss-icon-Minimize-arrow {
  display: block;
}

li.-dropdownMega:hover > .ss-mega-menu {
  display: block;
}

.ss-radiobutton-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ss-radiobutton-group span {
  padding: 4px 6px 6px 4px;
}

.ss-radiobutton-group.-error {
  color: #b60000;
  margin-bottom: 0px;
}

input[type=radio].ss-radiobutton {
  --background: #ffffff;
  --inner-dot-display: block;
  --border: 1px solid #fcb034;
}

input[type=radio].ss-radiobutton:disabled {
  --pointer-event: none;
  --background: rgba(0, 0, 0, 0.1);
  --inner-dot-display: none;
  --border: 1px solid rgba(0, 0, 0, 0.1);
}

input[type=radio].ss-radiobutton:checked {
  --background: #fcb034;
}

input[type=radio].ss-radiobutton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background: var(--background);
  border-radius: 100%;
  border: var(--border);
  margin: 0px;
}

input[type=radio].ss-radiobutton::after {
  content: "";
  display: var(--inner-dot-display);
  position: relative;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #ffffff;
}

.ss-checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ss-checkbox-group span {
  padding: 4px 6px 6px 4px;
}

.ss-checkbox-group.-error {
  color: #b60000;
  margin-bottom: 0px;
}

input[type=checkbox].ss-checkbox {
  --background: #ffffff;
  --inner-dot-display: block;
  --border: 1px solid #fcb034;
}

input[type=checkbox].ss-checkbox:disabled {
  --pointer-event: none;
  --background: rgba(0, 0, 0, 0.1);
  --inner-dot-display: none;
  --border: 1px solid rgba(0, 0, 0, 0.1);
}

input[type=checkbox].ss-checkbox:checked {
  --background: #fcb034;
}

input[type=checkbox].ss-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background: var(--background);
  border-radius: 4px;
  border: var(--border);
  margin: 0px;
}

input[type=checkbox].ss-checkbox::after {
  content: "\ea05";
  font-family: "SET-icon";
  color: #ffffff;
  display: var(--inner-dot-display);
  position: relative;
  border-radius: 100%;
}

.ss-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0px;
}

.ss-form {
  margin: 0px;
}

.ss-form > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.ss-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4px;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.ss-label.-inline {
  padding: 5px 0px 6px 0px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.ss-error {
  font-size: 0.714rem;
  color: #b60000;
}

.ss-notification {
  position: relative;
  font-size: 2rem;
}

.ss-notification > .dot {
  background-color: #0064c5;
  font-size: 6px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
}

.ss-notification > .dot.-top-right {
  top: 0px;
  right: 0px;
}

.ss-notification > .dot.-center-right {
  top: calc((2rem - 8px) / 2);
  right: 0px;
}

.ss-notification > .dot.-bottom-right {
  top: calc(2rem - 8px);
  right: 0px;
}

.menu-panel {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.96);
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 200px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.icon-page .show-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 800px;
  margin-top: 16px;
}

.icon-page .show-icons > .each-icon {
  width: 200px;
  height: 72px;
  text-align: center;
}

.icon-page .show-icons > .each-icon span {
  font-size: 1.142em;
}

.icon-page .sample-icon-in-css:after {
  display: inline;
  content: "\ea1b";
  font-family: "SET-icon";
  padding-left: 10px !important;
  vertical-align: middle;
}

.menu-page .ss-card .menu {
  width: 240px;
}

.button-page .two-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.ss-mega-menu._demo-under-card {
  position: relative;
}