extends ../base/base.pug

block append page-variable
  - var current = "account"

block workspace

  .ss-page-header.-nobreadcrumbs
    span.label Account

  .ss-card
    .ss-site-header
      h3 Sushi Design System

    .body
      span.label Account



