extends ../base/base.pug

block append page-variable
  - var current = "button"

block page-block

  .header.-nobreadcrumbs
    span.label Buttons

  .body
    .ss-card
      .header
        span.label &lt;button&gt;

      .body._padding
        table
          tr
            th &nbsp;
            th Primary Button
            th Secondary Button
            th Gray Button
            th Green Button
          tr
            td Enable
            td
              button.ss-button.-primary
                span.ss-icon-Search
                | Primary
                span.ss-icon-Next
            td
              button.ss-button
                span.ss-icon-Search
                | Secondary
                span.ss-icon-Next
            td
              button.ss-button.-gray
                span.ss-icon-Search
                | Color
                span.ss-icon-Next
            td
              button.ss-button.-yellow-green
                span.ss-icon-Search
                | Color green
                span.ss-icon-Next
          tr
            td Disable
            td
              button.ss-button(disabled)
                span.ss-icon-Search
                | Primary
                span.ss-icon-Next
            td
              button.ss-button.-secondary(disabled)
                span.ss-icon-Search
                | Secondary
                span.ss-icon-Next
            td
              button.ss-button.-gray(disabled)
                span.ss-icon-Search
                | Color
                span.ss-icon-Next
            td
              button.ss-button.-yellow-green(disabled)
                span.ss-icon-Search
                | Color Green
                span.ss-icon-Next
        pre
          code.language-html
            |
            |  &lt;button>
            |    &lt;span class="ss-icon-Search">&lt;/span>
            |    Primary Button
            |    &lt;span class="ss-icon-Next">&lt;/span>
            |  &lt;/button>
            |  &nbsp;

    .ss-card
      .header
        span.label &lt;button&gt; in all color

      .body._padding
        table
          tr
            td Black
            td
              button.ss-button.-yellow-green
                span.ss-icon-Search
                | Yellow green
                span.ss-icon-Next
            td
              button.ss-button.-yellow
                span.ss-icon-Search
                | Yellow
                span.ss-icon-Next
            td
              button.ss-button.-orange
                span.ss-icon-Search
                | Orange
                span.ss-icon-Next
            td
              | &nbsp;
          tr
            td White
            td
              button.ss-button.-sky-blue
                span.ss-icon-Search
                | Sky blue
                span.ss-icon-Next
            td
              button.ss-button.-purplish-blue
                span.ss-icon-Search
                | Purplish blue
                span.ss-icon-Next
            td
              button.ss-button.-purplish-red
                span.ss-icon-Search
                | Purplish red
                span.ss-icon-Next
            td
              button.ss-button.-gray
                span.ss-icon-Search
                | Gray
                span.ss-icon-Next

        pre
          code.language-html
            |
            | &lt;button class="ss-button -yellow-green">
            |    &lt;span class="ss-icon-Search">&lt;/span>
            |    Color green Link
            |    &lt;span class="ss-icon-Next">&lt;/span>
            | &lt;/button>
            | &nbsp;

    .ss-card
      .header
        span.label &lt;button&gt; as link

      .body._padding
        table
          tr
            td Enable
            td
              button.ss-link
                span.ss-icon-Search
                | Button as Link
                span.ss-icon-Next
          tr
            td Disable
            td
              button.ss-link.disable
                span.ss-icon-Search
                | Button as Link
                span.ss-icon-Next

        pre
          code.language-html
            |
            | &lt;button class="ss-link">
            |    &lt;span class="ss-icon-Search">&lt;/span>
            |    Button as Link
            |    &lt;span class="ss-icon-Next">&lt;/span>
            | &lt;/button>
            | &nbsp;

    .ss-card
      .header
        span.label &lt;a&gt; as a button

      .body._padding
        table
          tr
            th &nbsp;
            th Primary
            th Secondary
            th Color
            th Color Green
          tr
            td Enable
            td
              a.ss-button.-primary(href="javascript:void(0)")
                span.ss-icon-Search
                | Primary
                span.ss-icon-Next
            td
              a.ss-button(href="javascript:void(0)")
                span.ss-icon-Search
                | Secondary
                span.ss-icon-Next
            td
              a.ss-button.-gray(href="javascript:void(0)")
                span.ss-icon-Search
                | Color
                span.ss-icon-Next
            td
              a.ss-button.-yellow-green(href="javascript:void(0)")
                span.ss-icon-Search
                | Color green
                span.ss-icon-Next
          tr
            td Disable
            td
              a.ss-button.primary.disable(href="javascript:void(0)")
                span.ss-icon-Search
                | Primary
                span.ss-icon-Next
            td
              a.ss-button.disable(href="javascript:void(0)")
                span.ss-icon-Search
                | Secondary
                span.ss-icon-Next
            td
              a.ss-button.-gray.disable(href="javascript:void(0)")
                span.ss-icon-Search
                | Color
                span.ss-icon-Next
            td
              a.ss-button.-yellow-green.disable(href="javascript:void(0)")
                span.ss-icon-Search
                | Color green
                span.ss-icon-Next
        pre
          code.language-html
            |
            | &lt;a class="ss-button" href="#">
            |    &lt;span class="ss-icon-Search">&lt;/span>
            |    Color green Link
            |    &lt;span class="ss-icon-Next">&lt;/span>
            | &lt;/a>
            | &nbsp;

    .ss-card
      .header
        span.label &lt;a&gt; as a link

      .body._padding
        table
          tr
            th &nbsp;
            th Link
          tr
            td Enable
            td
              a.ss-link(href="javascript:void(0)")
                span.ss-icon-Search
                | General Link
                span.ss-icon-Next
          tr
            td Disable
            td
              a.ss-link.disable(href="javascript:void(0)")
                span.ss-icon-Search
                | General Link
                span.ss-icon-Next

        pre
          code.language-html
            |
            | &lt;a class="ss-link href="#">
            |    &lt;span class="ss-icon-Search">&lt;/span>
            |    Color green Link
            |    &lt;span class="ss-icon-Next">&lt;/span>
            | &lt;/a>
            | &nbsp;

    .ss-card
      .header
        span.label Edge case

      .body._padding
        table
          tr
            th For long text
            th Two Button together
          tr
            td
              button.ss-button
                span.ss-icon-Documents
                | เมื่อเนื้อหาเป็น
                br
                | ภาษาไทย
                br
                | แบบมีหลายบรรทัด
                span.ss-icon-External-link

            td.two-button
              button.ss-button
                span.ss-icon-Search
                | Primary Button

              button.ss-button
                | Primary Button
                span.ss-icon-Search

