extends ../base/base.pug

block append page-variable
  - var current = "formfield"

block page-block

  .header.-nobreadcrumbs
    span.label Form field

  .body
    .ss-card
      .header
        span.label &lt;Vertical field&gt;

      .body._padding
        form.ss-form
          .ss-field
            .ss-label
              | First Name
              span.ss-icon-Information
            input.ss-textfield.-error(type="text" value="very long first name")
            .ss-error Too long messsage
          .ss-field
            .ss-label Last Name
            input.ss-textfield(type="text" placeholder="Your lastname")
          .ss-field
            .ss-label Last Name
            input.ss-textfield.-viewonly(type="search" value="Sample value")
          button.ss-button
            span.ss-icon-Approve
            | Primary

    .ss-card
      .header
        span.label &lt;Holizontal field&gt;

      .body._padding
        form.ss-form
          .row
            .ss-label.-inline(style="flex:1") First Name and Last Name
            .ss-field(style="flex:2")
              input.ss-textfield.-error(type="text" value="very long first name")
              .ss-error Too long messsage
          .row
            .ss-label.-inline(style="flex:1") Search
            .ss-field(style="flex: 2")
              input.ss-textfield(type="search" value="very long first name")
          .row
            .ss-label.-inline(style="flex:1") Animal
            .ss-field(style="flex: 2")
              .ss-radiobutton-group.-error
                input.ss-radiobutton(type="radio", id="r1", name="radio", value="1", checked )
                span Ant
                input.ss-radiobutton(type="radio", id="r1", name="radio", value="1" disabled)
                span Cat
                input.ss-radiobutton(type="radio", id="r1", name="radio", value="1" )
                span Bat
              .ss-error Too long messsage
          .row
            .ss-label.-inline(style="flex: 1") Last Name
            .ss-field(style="flex: 2")
              .ss-checkbox-group
                input.ss-checkbox(type="checkbox", id="r1", name="radio", value="1", checked)
                span Ant
                input.ss-checkbox(type="checkbox", id="r1", name="radio", value="1" disabled)
                span Cat
                input.ss-checkbox(type="checkbox", id="r1", name="radio", value="1" )
                span Bat
          .row
            .ss-label.-inline(style="flex: 1") &nbsp;
            .ss-field(style="flex: 2")
              button.ss-button
                span.ss-icon-Approve
                | Primary
