extends ../base/base.pug

block append page-variable
  - var current = "header"

block workspace

  .pageheader.-nobreadcrumbs
    span.label
      a.ss-link(href="javascript:void(0)")
        span(class='ss-icon-Back-iOS')
      | Page Header on floor
    button.secondary
      span.ss-icon-Add
      | Add
    button
      span.ss-icon-PDF
      | Preview

  .card.-content
    .pageheader
      span.label
        a.ss-link(href="javascript:void(0)")
          span(class='ss-icon-Back-iOS')
        | Page Header on card
      button.secondary
        span.ss-icon-Add
        | Add
      button
        span.ss-icon-PDF
        | Preview

    .contentheader
      span.label
        | Content Header

    P
      | นอกจากสถานการณ์การแพร่ระบาดของโควิดแล้ว สิ่งที่นักลงทุนจากทั่วโลกให้ความสนใจมากขึ้น
      | ในปีที่ผ่านมาคือ การลงทุนที่ให้ความความสำคัญในเรื่องสิ่งแวดล้อม สังคม และธรรมาภิบาล
      | หรือที่เรียกสั้น ๆ ว่า ESG (Environment, Social, Governance) โดยในสิ้นปี 2563
      | มีการออกตราสารหนี้ในลักษณะนี้ทำสถิติสูงสุดกว่า 2.7 แสนล้านดอลลาร์สหรัฐฯ และมีแนวโน้มเพิ่มขึ้น
      | ต่อเนื่อง คาดว่าในปีนี้จะเพิ่มเกือบเท่าตัวอยู่ที่ 4.5 แสนล้านดอลลาร์สหรัฐฯ
      | บางขุนพรหมชวนคิดในวันนี้จึงขอใช้โอกาสนี้พูดถึงประเด็นนี้ค่ะ

  .card

    .cardheader
      span.label Card Header
      button.secondary
        span.ss-icon-Add
        | Add
      button
        span.ss-icon-PDF
        | Preview

    .content

      .contentheader
        span.label
          | Content Header
        a.ss-link(href="javascript:void(0)")
          span.ss-icon-External-link
          | preview
        a.ss-link(href="javascript:void(0)")
          span.ss-icon-Search
          | Search

      P
        | นอกจากสถานการณ์การแพร่ระบาดของโควิดแล้ว สิ่งที่นักลงทุนจากทั่วโลกให้ความสนใจ
        | มากขึ้นในปีที่ผ่านมา

      .ghost

      .contentheader
        span.label
          | Content Header

      P
        | นอกจากสถานการณ์การแพร่ระบาดของโควิดแล้ว สิ่งที่นักลงทุนจากทั่วโลกให้ความสนใจมากขึ้น
        | ในปีที่ผ่านมาคือ การลงทุนที่ให้ความความสำคัญในเรื่องสิ่งแวดล้อม สังคม และธรรมาภิบาล
        | หรือที่เรียกสั้น ๆ ว่า ESG (Environment, Social, Governance) โดยในสิ้นปี 2563
        | มีการออกตราสารหนี้ในลักษณะนี้ทำสถิติสูงสุดกว่า 2.7 แสนล้านดอลลาร์สหรัฐฯ และมีแนวโน้มเพิ่มขึ้น
        | ต่อเนื่อง คาดว่าในปีนี้จะเพิ่มเกือบเท่าตัวอยู่ที่ 4.5 แสนล้านดอลลาร์สหรัฐฯ
        | บางขุนพรหมชวนคิดในวันนี้จึงขอใช้โอกาสนี้พูดถึงประเด็นนี้ค่ะ