extends ../base/base.pug


block append page-variable
  - var current = "index"

block workspace

  .ss-page-header.-nobreadcrumbs
    span.label Welcome

  include ../content/example.pug
  include ../content/start.pug