extends ../base/base.pug

block append page-variable
  - var current = "navigation"

block workspace

  .ss-page-header.-nobreadcrumbs
    span.label Account

  .ss-card
    nav.ss-site-header
      h3 Sushi Design System

      ul
        li Document
        li Github
        li Getting Start

      | Apirak

      span.ss-icon-Account-circle

    .body
      span.label Account



