extends ../base/base.pug

block append page-variable
  - var current = "radiobutton"

block page-block

  .header.-nobreadcrumbs
    span.label Textfield

  .body
    .ss-card
      .header
        span.label &lt;TextField&gt;

      .body._padding
        table 
          tr 
            th Normal radio button 
            th Disable radio button 

          tr 
            td
              label.ss-container one 
                input(type="radio", checked="checked", name="radio")
                span.checkmark 
            td
              label.ss-container two 
                input(type="radio", name="radio")
                span.checkmark 

          tr 
            td
              input(type="radio", name="fav_language", value="css")
              | testing2
            td
              input(type="radio", name="fav_language", value="css")
              | testing2
        pre
          code.language-html
            |
            |  &lt;div class="textfield">
            |    &lt;input class="ss-textfield" type="search">
            |  &lt;/div>
            |  &nbsp;
            |  &lt;div class="errortextfield">
            |    &lt;input class="ss-textfield -error" type="search">
            |     | Long error message
            |  &lt;/div>
            |  &nbsp;
            |  &lt;div class="textfield">
            |    &lt;input class="ss-textfield -disable" type="search" value="Disable input">
            |  &lt;/div>
            |  &nbsp;
            |  &lt;div class="textfield">
            |    &lt;input class="ss-textfield -viewonly" type="search" value="View only input">
            |  &lt;/div>
            |  &nbsp;