extends ../base/base.pug

block append page-variable
  - var current = "radiobutton"

block page-block

  .header.-nobreadcrumbs
    span.label Textfield

  .body
    .ss-card
      .header
        span.label &lt;TextField&gt;

      .body._padding
        H2 Normal radio button

        .ss-radiobutton-group
          input.ss-radiobutton(type="radio", id="r1", name="radio", value="1", checked)
          span Radio1
          input.ss-radiobutton(type="radio", id="rd1", name="radio", value="2" )
          span Radio1Disable

        H2 Disable radio button

        .ss-radiobutton-group
          input.ss-radiobutton.-disable(type="radio", id="r1", name="radioDisable", value="1", checked)
          span Radio1
          input.ss-radiobutton.-disable(type="radio", id="rd1", name="radioDisable", value="2" )
          span Radio1Disable

        pre
          code.language-html
            |  &lt;div class="ss-radioButton">
            |    &lt;input type="radio" id="r1" name="radio" value="1" checked="">
            |    &lt;label for="r1">Radio1&lt;/label>
            |  &lt;/div>
            |  &nbsp;