extends ../base/simple.pug


block append page-variable
  - var current = "index"

block page-block

  .header.-nobreadcrumbs
    span.label Welcome

  .body
    include ../content/example.pug
    include ../content/structure.pug