extends ../base/base.pug

block append page-variable
  - var current = "textfield"

block page-block

  .header.-nobreadcrumbs
    span.label Textfield

  .body
    .ss-card
      .header
        span.label &lt;TextField&gt;

      .body._padding
        table
          tr
            th Normal textfield
            th Error textfield
            th Disable textfield
            th View only textfield

          tr
            td
              .ss-textfield
                input(type="search")
            td
              .ss-textfield.-error
                input(type="search" value="Error input")
                | Long error message
            td
              .ss-textfield.-disable
                input(type="search" value="Disable input")
            td
              .ss-textfield.-viewonly
                input(type="search" value="View only input")
        pre
          code.language-html
            |
            |  &lt;div class="ss-textfield">
            |    &lt;input class="ss-textfield" type="search" >
            |  &lt;/div>
            |  &nbsp;
            |  &lt;div class=".-error">
            |    &lt;input class="ss-textfield" type="search" value="Error input">
            |     | Long error message
            |  &lt;/div>
            |  &nbsp;
            |  &lt;div class="ss-textfield -disable">
            |    &lt;input class="ss-textfield" type="search" value="Disable input">
            |  &lt;/div>
            |  &nbsp;
            |  &lt;div class="ss-textfield -viewonly">
            |    &lt;input class="ss-textfield" type="search" value="View only input">
            |  &lt;/div>
            |  &nbsp;