extends ../base/base.pug

block append page-variable
  - var current = "textfield"

block page-block

  .header.-nobreadcrumbs
    span.label Textfield

  .body
    .ss-card
      .header
        span.label &lt;TextField&gt;

      .body._padding
        table 
          tr 
            th Normal textfield
            th Error textfield
            th Disable textfield
            th View only textfield

          tr 
            td
              .textfield 
                input.ss-textfield(type="search")
            td
              .errortextfield 
                input.ss-textfield.-error(type="search")
                | Long error message
            td 
              .textfield 
                input.ss-textfield.-disable(type="search" value="Disable input")
            td 
              .textfield 
                input.ss-textfield.-viewOnly(type="search" value="View only input")
        pre
          code.language-html
            |
            |  &lt;div class="textfield">
            |    &lt;input class="ss-textfield" type="search">
            |  &lt;/div>
            |  &nbsp;
            |  &lt;div class="errortextfield">
            |    &lt;input class="ss-textfield -error" type="search">
            |     | Long error message
            |  &lt;/div>
            |  &nbsp;
            |  &lt;div class="textfield">
            |    &lt;input class="ss-textfield -disable" type="search" value="Disable input">
            |  &lt;/div>
            |  &nbsp;
            |  &lt;div class="textfield">
            |    &lt;input class="ss-textfield -viewonly" type="search" value="View only input">
            |  &lt;/div>
            |  &nbsp;