HTML {
  font-family: 'Sarabun', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  color: $primary-black;
  height: 100%;
}

BODY, INPUT, TEXTAREA, BUTTON {
  font-family: inherit;
  font-size: $font-size-body;
}

BODY {
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100%;
  background-color: $primary-white;
}

TABLE {
  border: 1px solid #EEE;

  TH {
    text-align: left;
  }

  TH, TD {
    padding: 20px;
  }
}

.small {
  font-size: 0.429em;
}

.ss-site-header {
  background-color: $primary-white;
  height: 44px;
  border-bottom: 4px solid $primary-yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px $common-gap;
  box-shadow: $shadow-10;
}

.ss-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  flex-grow: 1;
  background-color: $background-gray-basic;
}

.ss-workspace {
  display: flex;
  flex-direction: column;
  gap: $common-gap;

  order: 1;
  flex-grow: 1;
  align-self: stretch;

  padding-bottom: $common-gap;
}

.menu {
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: $transparent-white-96;
  align-self: stretch;
  width: 200px;
  box-shadow: $shadow-10;
}

// Helper

._padding {
  padding: $common-gap !important;
}