HTML {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: $primary-black;
  height: 100%;
}

BODY,
INPUT,
TEXTAREA,
BUTTON {
  font-family: inherit;
  font-size: $font-size-body;
}

BODY {
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100%;
  background-color: $primary-white;
}

TABLE {
  border: 1px solid #eee;

  TH {
    text-align: left;
  }

  TH,
  TD {
    padding: 20px;
  }
}

.small {
  font-size: 0.429rem;
}

.ss-site > .body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  flex-grow: 1;
  background-color: $background-gray-basic;
}

.ss-page {
  display: flex;
  flex-direction: column;
  gap: $common-gap;

  order: 1;
  flex-grow: 1;
  align-self: stretch;

  padding-bottom: $common-gap;
}

// Helper

a.-big-icon {
  font-size: $font-size-h3;
  text-decoration: none;
  color: $primary-black;
}

._padding {
  padding: $common-gap !important;
}

._flex-grow-1 {
  flex-grow: 1 !important;
}

._font-size-header {
  font-size: $font-size-h3 !important;
}
