BUTTON, a.ss-button {
  --color: #{$primary-black};
  --background: #{$gradient-yellow};
  --hover-background: #{$primary-yellow};
  --hover-outline: none;
  --active-color: #{$primary-black};
  --active-background: #{$tertiary100-yellow};
  --active-outline: solid 1px #{$primary-yellow};
  --outline: none;
  --disable-background: #{$transparent-black-10};
}

BUTTON.secondary, a.ss-button.secondary {
  --background: #{$gradient-white};
  --hover-background: #{$gradient-white};
  --hover-outline: solid 1px #{$primary-yellow};
  --active-background: #{$gradient-white};
  --active-outline: solid 1px #{$primary-white};
  --outline: solid 1px #{$transparent-black-10};
}

BUTTON.color, a.ss-button.color {
  --color: #{$primary-white};
  --background: #{$gradient-dark};
  --hover-background: #{$secondary-Midle-gray};
  --hover-outline: none;
  --active-background: #{$secondary-Light-gray};
  --active-outline: solid 1px #{$secondary-Midle-gray};
  --active-color: #{$primary-white};
  --outline: none;
}

BUTTON.color.green, a.ss-button.color.green {
  --color: #{$primary-black};
  --background: #{$gradient-green};
  --hover-background: #{$secondary-Midle-green};
  --active-background: #{$secondary-Light-green};
  --active-outline: solid 1px #{$secondary-Midle-green};
  --active-color: #{$primary-black};
}

a.ss-link {
  --color: #{$secondary-blue};
  --active-color: #{$tertiary60-sky-blue};
  --disable-background: none;
}

BUTTON, a.ss-button, a.ss-link {
  display: inline-flex;
  flex-direction: row;
  flex-basis: auto;
  align-items: center;
  padding: 6px 12px;
  margin: 0 -4px;
  gap: 4px;
  position: relative;
  width: fit-content;
  border: none;
  outline: var(--outline);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;

  color: var(--color);
  background: var(--background);

  span{
    font-size: $body-icon;
  }

  &:hover {
    background: var(--hover-background);
    outline: var(--hover-outline);
  }

  &:active {
    color: var(--active-color);
    background: var(--active-background);
    outline: var(--active-outline);
  }

  &.disable, &:DISABLED{
    background: var(--disable-background);
    color: $transparent-black-35;
    pointer-events: none;
  }
}