.card .show-icons {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-top: 16px;

  .each-icon {
    width: 200px;
    height: 72px;
    text-align: center;

    span {
      font-size: $body-icon;
    }
  }
}

.card {
  .icon-in-css:after {
    content: $ss-icon-Close-or-Reject;
    font-family: 'SET-icon';
    padding-left: 10px !important;
    vertical-align: middle;
  }
}