@import "font_icon";
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,500;0,800;1,500&display=swap');

$radius: 4px;

html {
  font-size: 14px;
  font-family: 'Sarabun', sans-serif;
}

H3 {
  font-size: 1.5em;
}

.small {
  font-size: 0.429em;
}

body {
  background-color: #fff;
}

.card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: $radius;
  padding: 16px;
  margin: 32px;
}
