// Color

$primary-yellow: #FCB034;
$primary-black: #231F20;
$primary-white: #FFFFFF;

$secondary-blue: #009FD4;

$secondary-Light-gray: #9DA6AD;
$secondary-Midle-gray: #78797B;

$secondary-Light-green: #DAE882;
$secondary-Midle-green: #C1D82F;

$tertiary100-yellow: #FFD200;

$tertiary60-sky-blue: #66C5DA;

$background-gray-basic: #F3F3F3;

$transparent-yellow-30: rgba(255, 210, 0, 0.3);
$transparent-white-80: rgba(255, 255, 255, 0.8);
$transparent-white-96: rgba(255, 255, 255, 0.96);
$transparent-black-6: rgba(0, 0, 0, 0.06);
$transparent-black-10: rgba(0, 0, 0, 0.1);
$transparent-black-35: rgba(0, 0, 0, 0.35);

$gradient-yellow: linear-gradient(180deg, #FFCF36 0%, #FCB034 88.02%);
$gradient-white: linear-gradient(180deg, #FFFFFF 0%, #EFEFEF 88.02%);

$gradient-dark: linear-gradient(180deg, $secondary-Light-gray 0%, $secondary-Midle-gray 88.02%);
$gradient-green: linear-gradient(180deg, $secondary-Light-green 0%, $secondary-Midle-green 88.02%);

$accessible-blue: #0064C5;
$accessible-red: #B60000;
$accessible-green: #006600;
$accessible-orange: #E55F14;

$shadow-10: 0px 0px 8px rgba(0, 0, 0, 0.1);

// Radius

$radius: 4px;

// Icon

$body-icon: 1.142em;

:root {
  --primary-yellow: #{$primary-yellow};
}